* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  background: -webkit-linear-gradient(top, #128C7E 15%, lightgrey 15%);
  font-family: sans-serif;
}

.macro_container {
  display: flex;
  width: 85%;
  height: 95%;
  background: whitesmoke;
  margin: auto;
}


/* Parte sinistra */
.container_left {
  width: 35%;
  height: 100%;
  border: 1px solid black;
}

section.utent {
  height: 7%;
  background: lime;
}
section.notifications {
  height: 10%;
  background: coral;
}
section.search {
  height: 5%;
  background: dodgerblue;
}
section.chat {
  height: calc(100% - 22%);
  background: pink;
}
.chat ul li > img {
  width: 50px;
  border-radius: 100%;
}

/* Parte destra */
.container_right {
  width: 65%;
  height: 100%;
  border: 1px solid red;
}
section.contact_chat {
  height: 7%;
  background: white;
}
section.chat_messages {
  height: calc(100% - 14%);
  border: 1px solid black;
}
.chat_messages li {
  display: block;
  margin: 5px 0;
  padding: 0 50px;
  background: red;
}

.chat_messages li.received_mess > p, .chat_messages li.sent_mess > p {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
}

.chat_messages li.received_mess {
  text-align: left;
}
.chat_messages li.received_mess > p {
  background: white;
}


.chat_messages li.sent_mess {
  text-align: right;
}
.chat_messages li.sent_mess > p {
  background: green;
}




section.write_message {
  height: 7%;
  background: lime;
}
